/* header section style */
/* share item */
.primary-color {
    color: #FD6E0A;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-weight: 400;
}

.nav-tital {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 34px;
    margin-top: 0px;
}

.header {
    background: #FFF8F3;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;


}

.banner-content {
    max-width: 585px;
}

.banner .profile {
    width: 500px;
    height: 600px;
}

.banar-greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}

.banar-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.pera {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* main section style */
/* about section style */
.about {
    margin: 130px 230px;
    padding: 130px 156px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color:  #181818;
}

.section-discription {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #757575;
}